name: CI Build

on:
  push:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: |
          npm ci

      - name: Lint Lockfile
        run: npm run lint:lockfile

      - name: Include Git commit in version
        run: |
          jq '.version+="-'"$GITHUB_SHA"'"' package.json > package.json.new && mv package.json.new package.json

      - name: Build Extension
        run: npx @vscode/vsce package

      - name: Upload Extension as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: extension
          path: |
            *.vsix
